<h1 style="text-align: center" mat-dialog-title><strong>{{action}}</strong> Holiday </h1>
<div mat-dialog-content>
  <div style="display: flex;flex-direction: row;">
    <div style="flex-basis: 50%">
      <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="Holiday Name" matInput [(ngModel)]="localData.name">
      </mat-form-field>
    </div>
    <div style="flex-basis: 50%">
      <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
        <input placeholder="Choose Date" matInput type="date" [(ngModel)]="localData.holidayDate">
      </mat-form-field>
    </div>
  </div>
  <ng-template #elseTemplate>
    Sure to delete <b>{{localData.name}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <div style=" display: table;margin: 0 auto;">
    <button mat-flat-button color="primary" (click)="doAction()">{{action}}</button>
    <button mat-flat-button color="warn" (click)="closeDialog()" >Cancel</button>
  </div>
</div>
