<div style="display: flex;flex-direction: row;flex-wrap: wrap;margin-top: 3rem">
  <div style="flex-basis: 100%">
    <p>Start Froms</p>
    <div class="input_container">
      <input style="width: 79rem;height: 3rem" [owlDateTime]="dt2" placeholder="Date Time">
      <span [owlDateTimeTrigger]="dt2"><mat-icon class="icon-class_1">home</mat-icon></span>
      <owl-date-time #dt2></owl-date-time>
    </div>
  </div>
</div>
<mat-radio-group class="example-radio-group">
  <mat-radio-button class="example-radio-button" [value]="1">
    <p>End By</p>
    <div class="input_container">
      <input style="width:20rem;height: 3rem" [owlDateTime]="dt3" placeholder="Date Time">
      <span [owlDateTimeTrigger]="dt3"><mat-icon class="icon-class_2">home</mat-icon></span>
      <owl-date-time #dt3></owl-date-time>
    </div>
  </mat-radio-button>
  <mat-radio-button class="example-radio-button" [value]="2">
    <p>End After</p>
    <input style="width: 20rem;height: 3rem" type="number" placeholder="Occurrence">
  </mat-radio-button>
  <mat-radio-button class="example-radio-button" [value]="3">
    <p>Ongoing</p>
    <textarea style="width: 20rem;height: 3rem" name="comment" readonly="readonly">
          {{ongoingText}}
          </textarea>
  </mat-radio-button>
</mat-radio-group>
